@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Questionnaire Demo</h1>
    <p class="lead">MVC 5 | SQL Server | Entity Framework 6 | Knockout.js 3.1 | Bootstrap 3</p>
    <p>@Html.ActionLink("Form List", "FormList", "Eval", null, null)</p>
</div>