@model IEnumerable<YQ.Web.Models.EvalFormVM>

@{
    ViewBag.Title = "Questionnaire List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questionnaire List</h2>
<table class="table table-striped">
    <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.Name</td>
                <td>
                    @if (form.EvalInstances.Count > 0) { 
                        @Html.ActionLink("View Instances", "InstanceList", new { id = form.EvalFormId })
                    }
                    else
                    {
                        <label>No filled questionnaires.</label>
                    }
                </td>
                <td>@Html.ActionLink("Fill Form", "FillForm", new { id = form.EvalFormId })</td>
            </tr>
        }
    </tbody>
</table>
